body {
    font-family: Helvetica, sans-serif;
    background: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.status {
    color: #323232
}

.dropdown {
    min-width: 20em;
    position: relative;
    margin-top: 1em;;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #fff;
    color: #323232;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #54B14C solid;
    box-shadow: 0 0 0.8em #54B14C;
}

.select:hover {
    background: rgb(246, 246, 246); 
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #323232;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #fff;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #323232;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
} 

.menu__item{
    display: flex;
    align-items: center;
    
}

.menu i {
    margin-left: 1em;
    margin-right: 1em;
}
.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover{
    background: #54B14C;
    width: 100%;
}

.active {
    background: #54B14C;
    width: 100%;
}

.menu-open {
    display: block;
    opacity: 1;
}

